<div class="row">
	<div class="col-md-12">
		<div class="leftBox">
			<% site.posts.sort('date', -1).each(function(post, i) { %>
				<div class="postBox shadowBox">
					<h2>
						<a href="<%- post.path %>" rel="bookmark"><%- post.title %></a>
					</h2>
					<div class="meta">
						Написано <%- date(post.date) %>
						<% if (post.categories && post.categories.length) { %>
							в рубрику 
							<%- list_categories(post.categories, {
								show_count: false,
								separator: "►",
								class: "",
								style: ""
							}) %>
						<% } %>
					</div>
					<div class="entry">
						<%- post.excerpt %>
						<% if (post.excerpt != '') { %>
							<p>
								<%- link_to(post.path, "Читать дальше >>") %>
							</p>
						<% } %>
						<div class="tags">
							<%-// post.tags[0] %>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
	</div> 
	<%//- partial('_partial/sidebar') %>
</div>