<div class="row">
	<div class="col-md-9">
		<div class="leftBox">
			<div class="postBox shadowBox">
				<h1><%- page.title %></h1>
				<div class="meta">
					Написано <%- date(page.date, 'LL') %>
					в рубрику <%- page.categories[0] %>
				</div>
				<div class="entry">
					<%- page.content %>

					<div class="tags">
						<%- page.tags[0] %>
					</div>
				</div>					
			</div>
			<!-- <div class="comment-box shadowBox">
				
			</div> -->
		</div>
	</div>  
	<%- partial('_partial/sidebar') %>
</div>